{% extends "html/layouts/default.twig" %}
{% set title = '404' %}
{% block content %}
<section class="usa-prose">
    <header><h1>Page not found</h1></header>

    <p class="text-base"><strong>Error code:</strong> 404</p>
</section>
{% endblock %}
