{#
 * @copyright 2026 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<h1>Wave</h1>

{% endblock %}
