<header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo">
                <a class="grid-row" href="{{ BASE_URI }}" title="City of Bloomington, Indiana>">
                    <img src="//bloomington.in.gov/static/snowflake-blue.svg"
                         alt="City of Bloomington Logo"
                         class="grid-col-auto maxh-5 margin-right-105" />
                    <em class="usa-logo__text font-sans-lg grid-col-auto margin-y-auto">{{ APPLICATION_NAME }}</em>
                </a>
            </div>
        </div>
    </div>
</header>
